BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789,987654321
CONTENT_CHANNEL_ID=-1001234567890
REQUIRED_CHANNELS=@yourchannel,-1001234567891
INVITES_PER_FREE_PASS=5
MAX_WRONG_ATTEMPTS=3
LOCKOUT_MINUTES=15
THROTTLE_RATE=0.5
